<nav class="topnav">

    <div class="topnav_logo container-flex" (click)="navigate()" (scroll)="onScroll()" [ngClass]="navFixed? 'fixed':'topnav_logo'">
        <img [src]="pathImg"  >
    </div>

    <div class="container-flex topnav_content">

        <div *ngIf="inputHide" class="topnav_txtcontainer" >
           
            <input  type="text" placeholder="¿Qué estás buscando?" [(ngModel)]="gameName">
            <img src="./../../../assets/icons/icontxt.png" (click)="buscar()">
            
        </div>
    
        <div class="topnav_element">
            <a > 
                Resumen de compras
                <img src="./../../../assets/icons/carrito.png" >
            </a>
        </div>
    
        <div class="topnav_element">
            <a >
                {{userName}}
                <img src="./../../../assets/icons/profile.png" >
            </a>
            
        </div>

    </div>
    

</nav>

