

*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root 
{
--primary-color: rgb(219, 56, 50);
}


@media only screen and (max-width: 900px) {
    label,a,p{
        font-size: 0.8em;
    }
  }